<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<th:block th:replace="~{layout :: layout(~{::main})}">
    <main class="container my-5">
        <div class="row justify-content-center">
            <div class="col-md-5">
                <div class="card shadow border-0">
                    <div class="card-body p-5 text-center">
                        
                        <img th:src="@{/img/logo-nav.png}" width="80" class="mb-4">
                        <h2 class="mb-4" style="color: var(--couleur-asso-bg);">Connexion</h2>

                        <div th:if="${param.success}" class="alert alert-success">Compte créé ! Connectez-vous.</div>
                        <div th:if="${error}" class="alert alert-danger" th:text="${error}"></div>

                        <form action="/login" method="post">
                            <div class="mb-3 text-start">
                                <label class="form-label">Email</label>
                                <input type="email" name="email" class="form-control" required>
                            </div>
                            <div class="mb-4 text-start">
                                <label class="form-label">Mot de passe</label>
                                <input type="password" name="password" class="form-control" required>
                            </div>
                            
                            <button type="submit" class="btn btn-asso w-100 btn-lg">Se connecter</button>
                        </form>
                        
                        <div class="mt-4">
                            <p>Pas encore de compte ? <a href="/register" style="color: var(--couleur-asso-clair);">Créer un compte</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</th:block>
</html>