<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

    <nav th:fragment="monHeader" class="navbar navbar-expand-lg navbar-custom">
        <div class="container">
            <a class="navbar-brand" href="/">
                <img th:src="@{/img/logo-nav.png}" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
                La Pau'se
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link" href="/">Accueil</a></li>
                    <li class="nav-item"><a class="nav-link" href="/agenda">Agenda</a></li>
                    <li class="nav-item"><a class="nav-link" href="/photos">Galerie</a></li>

                    <li class="nav-item" th:if="${session.user == null}">
                        <a class="nav-link btn btn-outline-light ms-2" href="/login">Connexion</a>
                    </li>

                    <li class="nav-item dropdown" th:if="${session.user != null}">
                        <a class="nav-link dropdown-toggle ms-2" href="#" role="button" data-bs-toggle="dropdown" style="color: var(--couleur-fromage) !important;">
                            <span th:text="'Bonjour ' + ${session.user.prenom}">User</span>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end">
                            <li th:if="${session.user.estCotisant}"><a class="dropdown-item" href="/admin">Administration</a></li>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item text-danger" href="/logout">Se déconnecter</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

</body>
</html>